body {
    background-color: beige;
}
.contenedor {
    background-color: beige;
    margin:auto;
    width: 400px;
    height: 400px;
    margin-top: 50px;
}
button {
    border-radius: 8px;
    background-color: antiquewhite;
    float: right;
}
.buttoncito {
    border-radius: 8px;
    background-color: antiquewhite;
    float: right;
    display: block;
}
input {
    padding-right: 100px;
    border-radius: 4px;
}
.textito {
    background-color: rgb(255, 255, 240);
    padding: 10px;
    border-radius: 4px;
}
.contenedor .textito:hover {
    background-color: rgb(252, 244, 230);
}
.contenedor .buttoncito:hover {
    background-color: rgb(255, 255, 240);
}
